myst-parser==0.13.5
mkdocs==1.2.3
jinja2==3.0.0
h5py==3.2.1
iniconfig==1.0.1
matplotlib==3.3.4
numpy==1.20.1
opencv-python>=3.3
PyYAML==5.3.1
scikit-learn==0.24.1
scipy==1.6.1
simplejson==3.17.2
sklearn==0.0
tifffile==2021.3.5
tk==0.1.0
yapf==0.30.0
sphinx-automodapi==0.15.0